<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contato Pessoal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Contato Pessoal</p>
    </h1>
    <table border="1">
      <tr>
        <th>Numero do Celular</th>
        <th>Telefone de Contato</th>
        <th>Email</th>
        <th>Pessoa Relacionada <a href="/contato/novo">Cadastrar</a></th>
      </tr>
      <% dados.forEach(function(contato){ %>
      <tr>
        <td><%= contato.celular %></td>
        <td><%= contato.telContato %></td>
        <td><%= contato.email %></td>
        <td><%= contato.pessoaId ? contato.pessoa.nome : ''%></td>

        <a href="contato/<%= contato.id  %>">
          <button>Editar</button>
        </a>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
