<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Endereço</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Endereço</p>
    </h1>
    <table border="1">
      <tr>
        <th>Cep</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th>rua</th>
        <th>numero</th>
        <th>referencia</th>
        <th>Pessoa Relacionada <a href="/endereco/novo">Cadastrar</a></th>
      </tr>
      <% dados.forEach(function(endereco){ %>
      <tr>
        <td><%= endereco.cep %></td>
        <td><%= endereco.estado %></td>
        <td><%= endereco.cidade %></td>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.rua %></td>
        <td><%= endereco.numero %></td>
        <td><%= endereco.referencia %></td>
        <td><%= endereco.pessoaId ? endereco.pessoa.nome : '' %></td>

        <a href="endereco/<%= endereco.id %>"> <button>Editar</button></a>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
