<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Itens no Estoque</p>
    </h1>
    <table>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Setor do Produto</th>
        <th>Pessoa Responsavel</th>
        <th>Estoque da Comunidade</th>
      </tr>

      <% dados.forEach(function(estoque){ %>
      <tr>
        <td><%= estoque.produto %></td>
        <td><%= estoque.quantidade %></td>
        <td><%= estoque.setorId %></td>
        <td><%= estoque.responsavelId %></td>
        <td><%= estoque.comunidadeId %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
