<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cadastro de Setor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Cadastro de Setor</p>
    </h1>
    <div>
      <form action="/setor" method="POST">
        <input type="hidden" name="id" value="<%= id %>" />
        
        <label for="descricao">Descrição</label>
        <input name="descricao" value="<%= descricao %>" />

        <label for="setor">Nome do Setor</label>
        <input name="setor" value="<%= setor %>" />
        
        <label for="responsavelId">Responsavel pelo Setor</label>
        <select name="responsavelId">
            <option>Selecione</option>
            <% pessoas.forEach(function(pessoa){ %>
            <option value="<%= pessoa.id %>" <%= pessoa.id === responsavelId ? 'selected' : '' %>>
              <%= pessoa.nome %>
          </option>
            <% }) %>
          </select>

        <label for="comunidadeId">Comunidade</label>
        <select name="comunidadeId">
          <option>Selecione</option>
          <% comunidades.forEach(function(comunidade){ %>
          <option value="<%= comunidade.id %>" <%= comunidade.id === comunidadeId ? 'selected' : '' %>>
            <%= comunidade.nomeComunidade %>
        </option>
        <% }) %>
    </select>
        
        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
