<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cadastro da Tesouraria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Cadastro da Tesouraria</p>
    </h1>
    <div>
      <form action="/tesouraria" method="POST">
        <input type="hidden" name="id" value="<%= id %>" />
        
        <label for="tipoMovimentacao">Tipo de Movimentação</label>
        <input name="tipoMovimentacao" value="<%= tipoMovimentacao %>" />

        <label for="descricao">Descrição</label>
        <input name="descricao" value="<%= descricao %>" />
        
        <label for="valor">Valor</label>
        <input name="valor" value="<%= valor %>" />
      
        <label for="dataMovimentacao">Data da Movimentação</label>
        <input name="dataMovimentacao" value="<%= dataMovimentacao %>" type="date" /> 
              
        <label for="comunidadeId">Comunidade</label>
        <select name="comunidadeId">
          <option>Selecione</option>
          <% comunidades.forEach(function(comunidade){ %>
          <option value="<%= comunidade.id %>" <%= comunidade.id === comunidadeId ? 'selected' : '' %>>
            <%= comunidade.nomeComunidade %>
        </option>
        <% }) %>
    </select>
        
        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
