<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cadastro de Turmas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Cadastro de Turmas</p>
    </h1>
    <div>
      <form action="/turma" method="POST">
        <input type="hidden" name="id" value="<%= id %>" />
        
        <label for="dataInicio">Data de inicio</label>
        <input name="dataInicio" value="<%= dataInicio %>" type="date" />

        <label for="dataTermino">Data de Termino</label>
        <input name="dataTermino" value="<%= dataTermino %>"  type="date" />
        
        <label for="turma">Turma</label>
        <input name="turma" value="<%= turma %>" /> 
        
        <label for="professorId">Professor</label>
        <select name="professorId">
          <option>Selecione</option>
          <% professores.forEach(function(pessoa){ %>
          <option value="<%= pessoa.id %>" <%= pessoa.id === professorId ? 'selected' : '' %>>
            <%= pessoa.nome %>
        </option>
        <% }) %>
    </select>

        <label for="setorId">Setor</label>
        <select name="setorId">
          <option>Selecione</option>
          <% setores.forEach(function(setor){ %>
          <option value="<%= setor.id %>" <%= setor.id === setorId ? 'selected' : '' %>>
            <%= setor.setor %>
        </option>
        <% }) %>
    </select>
        
        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
